{
    "extends": [
        "airbnb",
        "react-app",
        "prettier",
        "prettier/react"
    ],
    "plugins": [
        "prettier"
    ],
    "env": {
        "es6": true,
        "browser": true
    }
}
