{
    "extends": [
        "airbnb",
        "react-app",
        "prettier",
        "prettier/react"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "prettier"
    ],
    "env": {
        "es6": true,
        "browser": true
    },
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
        "jsx-a11y/no-static-element-interactions": 1,
        "jsx-a11y/click-events-have-key-events": 1
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }

    }
}
