$board-size: 540;

.board {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(19, 1fr);
  background-color: $wheat;
  height: #{$board-size}px;
  width: #{$board-size}px;
  padding: 20px;
  border: 1px solid rgba($color-grid-line, 0.75);
  box-sizing: border-box;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
}
