.display {
  &__time {
    font-family: 'Cousine', monospace;
  }
  &__player-information {
    height: 50px;
    flex: 1;
  }
}

@media (max-width: $desktop) {
  .display {
    width: 540px;
  }
  .display__content {
    display: flex;
  }
}

// @media (min-width: $desktop) {
// }
