.header {
    &__navbar {
        display: flex;
        border-bottom: 1px solid $grey-lighter;
    }

    &__navbar-item {
        display: inline-flex;
        align-items: center;
        padding: 20px;
        font-size: 18px;
        line-height: 18px;

        &--right {
            margin-left: auto;
        }
    }
}
