.header {
    &__navbar {
        display: flex;
    }

    &__navbar-item {
        display: inline-block;
        padding: 10px 20px;
        font-size: 18px;
        line-height: 18px;

        &--right {
            margin-left: auto;
        }
    }
}
