.header {
    &__navbar {
        min-height: 4rem;
    }

    &__navbar-item {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
        line-height: 18px;
    }

    &__navbar-item:last-of-type {
        margin-left: auto;
    }
}
