// Point (Intersection)
// Includes stones, grid-lines, and star-points

.intersection {
  position: relative;
  box-sizing: border-box;

  // The pre-move shadow
  &:hover {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: calc(#{$zIndex--stone} - 1); // never cover stone
      height: 100%;
      width: 100%;
      border-radius: 50%;
      box-sizing: border-box;
      background: rgba($color-grid-line, 0.5);
    }
  }
}

.stone {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zIndex--stone;
  height: 97.5%;
  width: 97.5%;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 0px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);

  &--black {
    background-color: $color-stone-black;
    background-image: radial-gradient(
      at 35% 35%,
      #444,
      $color-stone-black 45%
    );
  }
  &--white {
    background-color: $color-stone-white;
    background-image: radial-gradient(
      at 35% 35%,
      $color-stone-white,
      #e0e0e0 45%
    );
  }
}

.star-point {
  position: absolute;
  z-index: $zIndex--board;
  top: 50%;
  left: 50%;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  transform: translate3d(-50%, -50%, 0);
  background-color: darken($color-grid-line, 25%);
}

.grid-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    background: $color-grid-line;
  }

  // horizontal
  &:before {
    top: 50%;
    height: 1px;
    width: 101%;
    transform: translateY(-50%);
  }

  // vertical
  &:after {
    left: 50%;
    width: 1px;
    height: 101%;
    transform: translateX(-50%);
  }
}

.grid-line--corner-top-left {
  &:before {
    width: 50%;
    left: 50%;
  }
  &:after {
    height: 50%;
    top: 50%;
  }
}

.grid-line--corner-top-right {
  &:before {
    width: 50%;
    right: 50%;
  }
  &:after {
    height: 50%;
    top: 50%;
  }
}

.grid-line--corner-bottom-right {
  &:before {
    width: 50%;
    right: 50%;
  }
  &:after {
    height: 50%;
    bottom: 50%;
  }
}

.grid-line--corner-bottom-left {
  &:before {
    width: 50%;
    left: 50%;
  }
  &:after {
    height: 50%;
    bottom: 50%;
  }
}

.grid-line--edge-top {
  &:after {
    height: 50%;
    top: 50%;
  }
}

.grid-line--edge-bottom {
  &:after {
    height: 50%;
    bottom: 50%;
  }
}

.grid-line--edge-left {
  &:before {
    width: 50%;
    left: 50%;
  }
}

.grid-line--edge-right {
  &:before {
    width: 50%;
    right: 50%;
  }
}

.game-coordinate {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  line-height: 100%;
  font-size: 12px;
  font-weight: 600;

  &--top {
    transform: translate3d(0, -70%, 0);
  }

  &--bottom {
    transform: translate3d(0, 70%, 0);
  }

  &--right {
    transform: translate3d(70%, 0, 0);
  }

  &--left {
    transform: translate3d(-70%, 0, 0);
  }
}
