// Point (Intersection)
// Includes stones, grid-lines, and star-points

.point {
  position: relative;
  box-sizing: border-box;
}

.stone {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zIndex--stone;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-sizing: border-box;

  &--black {
    background-color: $stone-black;
  }
  &--white {
    background-color: $stone-white;
  }
}

.star-point {
  position: absolute;
  z-index: $zIndex--board;
  top: 50%;
  left: 50%;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transform: translate3d(-40%, -40%, 0);
  background-color: darken($grid-line, 25%);
}

.grid-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    background: $grid-line;
  }

  // horizontal
  &:before {
    top: 50%;
    height: 1px;
    width: 101%;
    transform: translateY(-50%);
  }

  // vertical
  &:after {
    left: 50%;
    width: 1px;
    height: 101%;
    transform: translateX(-50%);
  }
}

.grid-line--corner-top-left {
  &:before {
    width: 50%;
    left: 50%;
  }
  &:after {
    height: 50%;
    top: 50%;
  }
}

.grid-line--corner-top-right {
  &:before {
    width: 50%;
    right: 50%;
  }
  &:after {
    height: 50%;
    top: 50%;
  }
}

.grid-line--corner-bottom-right {
  &:before {
    width: 50%;
    right: 50%;
  }
  &:after {
    height: 50%;
    bottom: 50%;
  }
}

.grid-line--corner-bottom-left {
  &:before {
    width: 50%;
    left: 50%;
  }
  &:after {
    height: 50%;
    bottom: 50%;
  }
}

.grid-line--edge-top {
  &:after {
    height: 50%;
    top: 50%;
  }
}

.grid-line--edge-bottom {
  &:after {
    height: 50%;
    bottom: 50%;
  }
}

.grid-line--edge-left {
  &:before {
    width: 50%;
    left: 50%;
  }
}

.grid-line--edge-right {
  &:before {
    width: 50%;
    right: 50%;
  }
}
