.board {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.intersectionBlack {
  background-color: #2c2c2c;
}

.intersectionWhite {
  background-color: grey;
}

.intersectionBrown {
  background-color: #c43b00;
}
