@import './spectre/colors.scss';

.board {
  position: absolute;
  top: 50%;
  left: 3.25em;
  height: 512px;
  width: 512px;
  background: $sapling;
  transform: translateY(-55%);
  border: 2em solid $sapling;
  box-shadow: 1px 1px 12px rgba(0,0,0,.1);
  box-sizing: border-box;
}

.board-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}