@import './spectre/colors.scss';

.display {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0em;
  right: 4em;
  width: 270px;
  padding: 1em;
}

.display .button.display__pass-button {
  padding: 1rem;
  height: auto;
  font-size: 18px;
}

.display .display__capture-count {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: .75em 0;
  font-size: 36px;
  line-height: 2;
  
  &--white-stone,
  &--black-stone {
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
  }
  &--white-stone {
    @include background-white-stone()
    border: 1px solid $primary-light-gray;
  }
  &--black-stone {
    @include background-black-stone()
  }
  
  &--white-stone-capture-count,
  &--black-stone-capture-count {
    padding: 0 .3em;
  }
  
}