@import './spectre/colors';

.stone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  height: 20px;
  width: 20px;
  border-radius: 1000px;
  z-index: 10;
  box-shadow: 1px 1px 12px $primary-shadow;
}


.stone.white {
  @include background-white-stone()
}

.stone.black {
  @include background-black-stone()
}