@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Inconsolata');

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, #fff 0%, #fff 50%, #f0f0f0 100%);
    font-family: 'Noto Sans', sans-serif;
}

#root {
    min-height: 100vh;
    width: 100vw;
}
