// @import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Cousine');

body {
  margin: 0;
  padding: 0;
  // font-family: 'Open Sans', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, “Roboto”, “Droid Sans”,
    “Helvetica Neue”, Helvetica, Arial, sans-serif;
}