// Private — Hex codes stay here
$snow: #f0f0f0;
$wheat: #dcb771;
$silver: #aaa;
$teak: #a58c5d;
$slate: #2c2c2c;

// Public — Give these usage names
$stone-black: $slate;
$stone-white: $snow;
$grid-line: $teak;
$board-color: $wheat;
$color-border: $silver;