.avatar {
  background: #5764c6;
  border-radius: 50%;
  color: rgba(255, 255, 255, .85);
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3.2rem;
  line-height: 1;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 3.2rem;
}
.avatar.avatar-xs {
  font-size: .8rem;
  height: 1.6rem;
  width: 1.6rem;
}
.avatar.avatar-sm {
  font-size: 1rem;
  height: 2.4rem;
  width: 2.4rem;
}
.avatar.avatar-lg {
  font-size: 2rem;
  height: 4.8rem;
  width: 4.8rem;
}
.avatar.avatar-xl {
  font-size: 2.6rem;
  height: 6.4rem;
  width: 6.4rem;
}
.avatar img {
  border-radius: 50%;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 100;
}
.avatar .avatar-icon {
  background: #fff;
  bottom: 14.64%;
  height: 50%;
  padding: .2rem;
  position: absolute;
  right: 14.64%;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  width: 50%;
}
.avatar[data-initial]::before {
  color: currentColor;
  content: attr(data-initial);
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}