
.badge {
  position: relative;
  white-space: nowrap;
}
.badge[data-badge]::after,
.badge:not([data-badge])::after {
  background: #5764c6;
  background-clip: padding-box;
  border-radius: 1rem;
  box-shadow: 0 0 0 .2rem #fff;
  color: #fff;
  content: attr(data-badge);
  display: inline-block;
  -webkit-transform: translate(-.2rem, -1rem);
  -ms-transform: translate(-.2rem, -1rem);
  transform: translate(-.2rem, -1rem);
}
.badge[data-badge]::after {
  font-size: 1.2rem;
  height: 1.8rem;
  line-height: 1;
  min-width: 1.8rem;
  padding: .3rem .5rem;
  text-align: center;
  white-space: nowrap;
}
.badge:not([data-badge])::after,
.badge[data-badge=""]::after {
  height: .6rem;
  min-width: .6rem;
  padding: 0;
  width: .6rem;
}
.badge.btn::after {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.badge.avatar::after {
  position: absolute;
  right: 14.64%;
  top: 14.64%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  z-index: 100;
}
.badge.avatar-xs::after {
  content: "";
  height: .8rem;
  min-width: .8rem;
  padding: 0;
  width: .8rem;
}