.bar {
  background: #f0f1f4;
  border-radius: .2rem;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 1.6rem;
  width: 100%;
}
.bar.bar-sm {
  height: .4rem;
}
.bar .bar-item {
  background: #5764c6;
  color: #fff;
  display: block;
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  font-size: 1.2rem;
  height: 100%;
  line-height: 1;
  padding: .2rem 0;
  position: relative;
  text-align: center;
  width: 0;
}
.bar .bar-item:first-child {
  border-bottom-left-radius: .2rem;
  border-top-left-radius: .2rem;
}
.bar .bar-item:last-child {
  border-bottom-right-radius: .2rem;
  border-top-right-radius: .2rem;
  -ms-flex-negative: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.bar-slider {
  height: .2rem;
  margin: 1rem 0;
  position: relative;
}
.bar-slider .bar-item {
  left: 0;
  padding: 0;
  position: absolute;
}
.bar-slider .bar-item:not(:last-child):first-child {
  background: #f0f1f4;
  z-index: 1;
}
.bar-slider .bar-slider-btn {
  background: #5764c6;
  border: 0;
  border-radius: 50%;
  height: 1.2rem;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  width: 1.2rem;
}
.bar-slider .bar-slider-btn:active {
  box-shadow: 0 0 0 .2rem #5764c6;
}