@import 'colors';

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: .1rem solid $button-primary;
  border-radius: .2rem;
  color: $button-primary;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  height: 3.2rem;
  line-height: 2rem;
  outline: none;
  padding: .5rem .8rem;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.button:focus {
  background: $primary-white;
  box-shadow: 0 0 0 .2rem $primary-shadow;
  text-decoration: none;
}
.button:hover {
  background: $button-primary;
  border-color: $button-primary-border;
  color: #fff;
  text-decoration: none;
}
.button:active,
.button.active {
  background: $button-primary-active;
  border-color: $button-primary-border;
  color: #fff;
  text-decoration: none;
}
.button[disabled],
.button:disabled,
.button.disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.button.button-primary {
  background: $button-primary;
  border-color: $button-primary-border;
  color: #fff;
}
.button.button-primary:focus,
.button.button-primary:hover {
  background: $button-primary-border;
  border-color: $button-primary-border;
  color: #fff;
}
.button.button-primary:active,
.button.button-primary.active {
  background: $button-primary-active;
  border-color: $button-primary-active;
  color: #fff;
}
.button.button-primary.loading::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}
.button.button-link {
  background: transparent;
  border-color: transparent;
  color: $button-primary;
}
.button.button-link:focus,
.button.button-link:hover,
.button.button-link:active,
.button.button-link.active {
  color: $button-primary-active;
}
.button.button-sm {
  font-size: 1.2rem;
  height: 2.4rem;
  padding: .1rem .8rem;
}
.button.button-lg {
  font-size: 1.6rem;
  height: 4rem;
  padding: .9rem .8rem;
}
.button.button-block {
  display: block;
  width: 100%;
}
.button.button-action {
  padding-left: 0;
  padding-right: 0;
  width: 3.2rem;
}
.button.button-action.button-sm {
  width: 2.4rem;
}
.button.button-action.button-lg {
  width: 4rem;
}
.button.button-clear {
  background: transparent;
  border: 0;
  color: currentColor;
  height: 1.6rem;
  line-height: 1.6rem;
  margin-left: .4rem;
  margin-right: -.2rem;
  opacity: .45;
  padding: 0 .2rem;
  text-decoration: none;
  width: 1.6rem;
}
.button.button-clear:hover {
  opacity: .85;
}
.button.button-clear::before {
  content: "\2715";
}
.button-group {
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.button-group .button {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.button-group .button:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.button-group .button:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: -.1rem;
}
.button-group .button:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -.1rem;
}
.button-group .button:focus,
.button-group .button:hover,
.button-group .button:active,
.button-group .button.active {
  z-index: 1;
}
.button-group.button-group-block {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.button-group.button-group-block .button {
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
}