.chip {
  -webkit-align-items: center;
  align-items: center;
  background: #f0f1f4;
  border-radius: .2rem;
  color: #727e96;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-inline-flex;
  -ms-flex-align: center;
  height: 2.8rem;
  margin: 0 .1rem .1rem 0;
  max-width: 100%;
  padding: .1rem .8rem;
  text-decoration: none;
  vertical-align: middle;
}
.chip.active {
  background: #5764c6;
  color: #fff;
}
.chip .avatar {
  margin-left: -.4rem;
  margin-right: .4rem;
}