code {
  background: #fdf4f4;
  border-radius: .2rem;
  color: #e06870;
  display: inline-block;
  line-height: 1;
  padding: .3rem .4rem;
  vertical-align: baseline;
}
.code {
  border-radius: .2rem;
  color: #50596c;
  line-height: 2rem;
  position: relative;
}
.code::before {
  color: #acb3c2;
  content: attr(data-lang);
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
  top: .2rem;
}
.code code {
  background: #f8f9fa;
  color: inherit;
  display: block;
  line-height: inherit;
  overflow-x: auto;
  padding: 2rem;
  width: 100%;
}