

// Primary
$primary:                         #5764c6;
$primary-background:              rgba(87, 100, 198, .9);
$primary-dark:                    #3b49af;
$primary-shadow:                  rgba(87, 100, 198, .15);

// Grayscale
$primary-bedrock:                 #454d5d;
$primary-bedrock-background:      rgba(69, 77, 93, .9);
$primary-charcoal:                #50596c;
$primary-slate:                   #727e96;
$primary-gray:                    #acb3c2;
$primary-light-gray:              #c4c9d3;
$primary-off-white:               #e7e9ed;
$primary-white:                   #f0f1f4;

// Warning
$primary-warning:                 #ffb700;
$primary-warning-background:      rgba(255, 183, 0, .9);

// Success
$primary-success:                 #32b643;
$primary-success-background:      rgba(50, 182, 67, .9);
$primary-success-shadow:          rgba(50, 182, 67, .15);

// Error
$primary-error:                   #e85600;
$primary-error-background:        rgba(232, 86, 0, .9);
$primary-error-shadow:            rgba(232, 86, 0, .15);

// Utilities
$white:                           #fff;
$black:                           #000;