
a {
  color: $primary;
  outline: none;
  text-decoration: none;
}
a:focus {
  box-shadow: 0 0 0 .2rem $primary-shadow;
}
a:focus,
a:hover,
a:active,
a.active {
  color: $primary-dark;
  text-decoration: underline;
}