ul,
ol {
  margin: 2rem 0 2rem 2rem;
  padding: 0;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin: 1.5rem 0 1.5rem 2rem;
}
ul li,
ol li {
  margin-top: 1rem;
}
ul {
  list-style: disc inside;
}
ul ul {
  list-style-type: circle;
}
ol {
  list-style: decimal inside;
}
ol ol {
  list-style-type: lower-alpha;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: .5rem 0 1.5rem 0;
}