.menu {
  background: #fff;
  border-radius: .2rem;
  box-shadow: 0 .1rem .4rem rgba(69, 77, 93, .3);
  list-style: none;
  margin: 0;
  min-width: 18rem;
  padding: 1rem;
  -webkit-transform: translateY(.5rem);
  -ms-transform: translateY(.5rem);
  transform: translateY(.5rem);
  z-index: 100;
}
.menu .menu-item {
  margin-top: 0;
  padding: 0 .8rem;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu .menu-item > a {
  border-radius: .2rem;
  color: inherit;
  display: block;
  margin: 0 -.8rem;
  padding: .6rem .8rem;
  text-decoration: none;
}
.menu .menu-item > a:focus,
.menu .menu-item > a:hover {
  color: #5764c6;
}
.menu .menu-item > a:active,
.menu .menu-item > a.active {
  background: #fbfbfe;
  color: #5764c6;
}
.menu .menu-badge {
  float: right;
  padding: .6rem 0;
}
.menu .menu-badge .button {
  margin-top: -.2rem;
}