.modal {
  -webkit-align-items: center;
  align-items: center;
  bottom: 0;
  display: none;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
}
.modal:target,
.modal.active {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  opacity: 1;
  z-index: 400;
}
.modal:target .modal-overlay,
.modal.active .modal-overlay {
  background: $primary-shadow;
  bottom: 0;
  cursor: default;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.modal:target .modal-container,
.modal.active .modal-container {
  -webkit-animation: slide-down .2s ease 1;
  animation: slide-down .2s ease 1;
  max-width: 64rem;
  z-index: 1;
}
.modal.modal-sm .modal-container {
  max-width: 32rem;
}
.modal-container {
  background: $white;
  border-radius: .2rem;
  box-shadow: 0 .4rem 1rem $primary-shadow;
  display: block;
  padding: 0;
  text-align: left;
}
.modal-container .modal-header {
  padding: 1.5rem;
}
.modal-container .modal-header .modal-title {
  font-size: 1.6rem;
  margin: 0;
}
.modal-container .modal-body {
  max-height: 50vh;
  overflow-y: auto;
  padding: 1.5rem;
  position: relative;
}
.modal-container .modal-footer {
  padding: 1.5rem;
  text-align: right;
}