.breadcrumb,
.tab,
.pagination,
.nav {
  list-style: none;
  margin: .5rem 0;
}
.breadcrumb {
  padding: 1.2rem;
}
.breadcrumb .breadcrumb-item {
  display: inline-block;
  margin: 0;
}
.breadcrumb .breadcrumb-item:last-child {
  color: $primary-gray;
}
.breadcrumb .breadcrumb-item:not(:first-child)::before {
  color: $primary-off-white;
  content: "/";
  padding: 0 .4rem;
}
.tab {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-align: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tab .tab-item {
  margin-top: 0;
}
.tab .tab-item.tab-action {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: right;
}
.tab .tab-item a {
  border-bottom: .2rem solid transparent;
  color: inherit;
  display: block;
  margin-top: 0;
  padding: .6rem 1.2rem .4rem 1.2rem;
  text-decoration: none;
}
.tab .tab-item a:focus,
.tab .tab-item a:hover {
  color: $primary;
}
.tab .tab-item.active a,
.tab .tab-item a.active {
  border-bottom-color: $primary;
  color: $primary;
}
.tab.tab-block .tab-item {
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  text-align: center;
}
.tab.tab-block .tab-item .badge[data-badge]::after {
  position: absolute;
  right: -.4rem;
  top: -.4rem;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.tab:not(.tab-block) .badge {
  padding-right: .2rem;
}
.pagination {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.pagination .page-item {
  margin: 1rem .1rem;
}
.pagination .page-item span {
  display: inline-block;
  padding: .6rem .4rem;
}
.pagination .page-item a {
  border-radius: .2rem;
  color: $primary-slate;
  display: inline-block;
  padding: .6rem .8rem;
  text-decoration: none;
}
.pagination .page-item a:focus,
.pagination .page-item a:hover {
  color: $primary;
}
.pagination .page-item a[disabled],
.pagination .page-item a.disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.pagination .page-item.active a {
  background: $primary;
  color: #fff;
}
.pagination .page-item.page-prev,
.pagination .page-item.page-next {
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}
.pagination .page-item.page-next {
  text-align: right;
}
.pagination .page-item .page-item-title {
  margin: 0;
}
.pagination .page-item .page-item-subtitle {
  margin: 0;
  opacity: .5;
}
.nav {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nav .nav-item a {
  color: $primary-slate;
  padding: .6rem .8rem;
  text-decoration: none;
}
.nav .nav-item a:focus,
.nav .nav-item a:hover {
  color: $primary;
}
.nav .nav-item.active > a {
  font-weight: bold;
}
.nav .nav-item.active > a:focus,
.nav .nav-item.active > a:hover {
  color: $primary;
}
.nav .nav {
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.nav .nav a {
  color: $primary-gray;
}
.navbar {
  -webkit-align-items: stretch;
  align-items: stretch;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-align: stretch;
  -ms-flex-pack: justify;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.navbar .navbar-section {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  -ms-flex-align: center;
}
.navbar .navbar-section:last-child {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.navbar .navbar-center {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-align: center;
}
.navbar .navbar-brand {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
}