.panel {
  border: .1rem solid #f0f1f4;
  border-radius: .2rem;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.panel .panel-header,
.panel .panel-footer {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 1.5rem;
}
.panel .panel-nav {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.panel .panel-body {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0 1.5rem;
}
.panel .panel-title {
  font-size: 2rem;
}
.panel .panel-subtitle {
  color: #bbc1cd;
}