.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.img-fit-cover {
  object-fit: cover;
}
.img-fit-contain {
  object-fit: contain;
}
.video-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.video-responsive::before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.video-responsive video {
  height: auto;
  max-width: 100%;
  width: 100%;
}
.video-responsive-4-3::before {
  padding-bottom: 75%;
}
.video-responsive-1-1::before {
  padding-bottom: 100%;
}