.shadow-0 {
  box-shadow: 0 0 .2rem $primary-shadow;
}
.shadow-1 {
  box-shadow: 0 .1rem .4rem $primary-shadow;
}
.shadow-2 {
  box-shadow: 0 .2rem .6rem $primary-shadow;
}
.shadow-3 {
  box-shadow: 0 .3rem .8rem $primary-shadow;
}
.shadow-4 {
  box-shadow: 0 .4rem 1rem $primary-shadow;
}
.rounded {
  border-radius: .2rem;
}